<!doctype html>

<!--[if lt IE 7]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title>Voting Device</title>

    <link rel="stylesheet" href="/style/voting.css" media="screen, projection">

    <script  type="text/template" id="questions-template">        
      
    </script>  

    <script type="text/template" id="question-template">         
        <%= text %>
        <input class="vote true" type="radio"  name="<%= name %>" data-id="<%= id %>" data-value="true">Yes
        <input class="vote false" type="radio" name="<%= name %>" data-id="<%= id %>" data-value="false">No     
     
   </script>  

  </head>
  <body>
    <div id="container">
    </div>
    <script src="/js/modernizr-1.6.min.js"></script>
    <script src="/js/jquery-1.5.1.min.js"></script>
    <script src="/js/underscore.js"></script>
    <script src="/js/backbone.js"></script>
    <script src="/js/socket.io.min.js"></script>
    
    <script src="/js/backbone.iosync.js"></script>
    <script src="/js/backbone.iobind.js"></script>   
    
    <script type="application/javascript">
        /*window.socket = io.connect('http://localhost:3000');
          window.socket.on('event:welcome', function (data) {
          alert(data);
        });*/   
    </script>
    <script src="/votingdevice.js"></script>
  </body>
</html>
